.uk-nav,
.uk-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.uk-nav li > a {
    display: flex;
    align-items: center;
    column-gap: 0.25em;
    text-decoration: none;
}
.uk-nav li > a > * {
    flex: none;
}
.uk-nav > li > a {
    padding: 5px 0;
}
.uk-nav-header {
    padding: 5px 0;
    text-transform: uppercase;
    font-size: 0.875rem;
}
.uk-nav-header:not(:first-child) {
    margin-top: 20px;
}
.uk-button-default.uk-active,
.uk-button-default:active {
    background-color: transparent;
    color: #333;
    border-color: #999;
}

.uk-nav-header {
    padding: 5px 0;
    text-transform: uppercase;
    font-size: 0.875rem;
}
.uk-nav-header:not(:first-child) {
    margin-top: 20px;
}

.uk-child-width-1-6 > * {
    width: 16.66389%;
}

.uk-child-width-1-6\@s > * {
    width: 16.66389%;
}
.uk-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}
.uk-grid > * {
    margin: 0;
}
.uk-grid > * > :last-child {
    margin-bottom: 0;
}
.uk-grid {
    margin-left: -30px;
}
.uk-grid > * {
    padding-left: 30px;
}
.uk-grid + .uk-grid {
    margin-top: 30px;
}
@media (min-width: 1200px) {
    .uk-grid {
        margin-left: -40px;
    }
    .uk-grid > * {
        padding-left: 40px;
    }
    .uk-grid + .uk-grid {
        margin-top: 40px;
    }
}

.uk-grid-small > * {
    padding-left: 15px;
}
.uk-grid + .uk-grid-small {
    margin-top: 15px;
}
* + .uk-grid-margin,
.uk-grid + .uk-grid,
.uk-grid > .uk-grid-margin {
    margin-top: 30px;
}
.uk-range {
    box-sizing: border-box;
    margin: 0;
    vertical-align: middle;
    max-width: 100%;
    width: 100%;
    -webkit-appearance: none;
    background: 0 0;
    padding: 0;
}
.uk-range:focus {
    outline: 0;
}
.uk-range::-moz-focus-outer {
    border: none;
}
.uk-range::-ms-track {
    height: 15px;
    background: 0 0;
    border-color: transparent;
    color: transparent;
}
.uk-range:not(:disabled)::-webkit-slider-thumb {
    cursor: pointer;
}
.uk-range:not(:disabled)::-moz-range-thumb {
    cursor: pointer;
}
.uk-range:not(:disabled)::-ms-thumb {
    cursor: pointer;
}
.uk-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: -7px;
    height: 15px;
    width: 15px;
    border-radius: 500px;
    background: #fff;
    border: 1px solid #ccc;
}
.uk-range::-moz-range-thumb {
    border: none;
    height: 15px;
    width: 15px;
    border-radius: 500px;
    background: #fff;
    border: 1px solid #ccc;
}
.uk-range::-ms-thumb {
    margin-top: 0;
    border: none;
    height: 15px;
    width: 15px;
    border-radius: 500px;
    background: #fff;
    border: 1px solid #ccc;
}
.uk-range::-ms-tooltip {
    display: none;
}
.uk-range::-webkit-slider-runnable-track {
    height: 3px;
    background: #ebebeb;
    border-radius: 500px;
}
.uk-range:active::-webkit-slider-runnable-track,
.uk-range:focus::-webkit-slider-runnable-track {
    background: #dedede;
}
.uk-range::-moz-range-track {
    height: 3px;
    background: #ebebeb;
    border-radius: 500px;
}
.uk-range:focus::-moz-range-track {
    background: #dedede;
}
.uk-range::-ms-fill-lower,
.uk-range::-ms-fill-upper {
    height: 3px;
    background: #ebebeb;
    border-radius: 500px;
}
.uk-range:focus::-ms-fill-lower,
.uk-range:focus::-ms-fill-upper {
    background: #dedede;
}
.uk-text-right {
    text-align: right !important;
}
.uk-flex-top {
    align-items: flex-start;
}
.uk-modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1010;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding: 15px;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.15s linear;
}
.uk-modal-dialog {
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;
    width: 600px;
    max-width: calc(100% - 0.01px) !important;
    background: #fff;
    opacity: 0;
    transform: translateY(-100px);
    transition: 0.3s linear;
    transition-property: opacity, transform;
}
.uk-open > .uk-modal-dialog {
    opacity: 1;
    transform: translateY(0);
}
.uk-modal-body {
    display: flow-root;
    padding: 30px;
}
.uk-modal-body > :last-child {
    margin-bottom: 0;
}
.uk-modal-title {
    font-size: 2rem;
    line-height: 1.3;
}
[class*="uk-modal-close-"] {
    position: absolute;
    z-index: 1010;
    top: 10px;
    right: 10px;
    padding: 5px;
}
[class*="uk-modal-close-"]:first-child + * {
    margin-top: 0;
}
.uk-flex-top {
    align-items: flex-start;
}
.uk-margin {
    margin-bottom: 20px;
}
.uk-margin-auto-vertical {
    margin-top: auto !important;
    margin-bottom: auto !important;
}
.uk-icon {
    margin: 0;
    border: none;
    border-radius: 0;
    overflow: visible;
    font: inherit;
    color: inherit;
    text-transform: none;
    padding: 0;
    background-color: transparent;
    display: inline-block;
    fill: currentcolor;
    line-height: 0;
}
button.uk-icon:not(:disabled) {
    cursor: pointer;
}
.uk-icon::-moz-focus-inner {
    border: 0;
    padding: 0;
}
.uk-icon:not(.uk-preserve) [fill*="#"]:not(.uk-preserve) {
    fill: currentcolor;
}
.uk-icon:not(.uk-preserve) [stroke*="#"]:not(.uk-preserve) {
    stroke: currentcolor;
}
.uk-icon > * {
    transform: translate(0);
}
.uk-form-label {
    color: #333;
    font-size: 0.875rem;
}
.uk-form-stacked .uk-form-label {
    display: block;
    margin-bottom: 5px;
}
.uk-margin-small-left {
    margin-left: 10px !important;
}
.uk-margin-small-bottom {
    margin-bottom: 10px !important;
}
* + .uk-margin-medium,
.uk-margin-medium-top {
    margin-top: 40px !important;
}
.uk-child-width-1-3 > * {
    width: 33.32223%;
}
.uk-child-width-1-2 > * {
    width: 50%;
}
.uk-flex-middle {
    align-items: center;
}
.uk-grid-small {
    margin-left: -15px;
}
.uk-grid-small > * {
    padding-left: 15px;
}
.uk-grid + .uk-grid-small,
.uk-grid-small > .uk-grid-margin {
    margin-top: 15px;
}

@media (min-width: 1200px) {
    .uk-grid {
        margin-left: -40px;
    }
    .uk-grid > * {
        padding-left: 40px;
    }
    * + .uk-grid-margin,
    .uk-grid + .uk-grid,
    .uk-grid > .uk-grid-margin {
        margin-top: 40px;
    }
    .uk-text-right\@l {
        text-align: right !important;
    }
    .uk-width-1-1\@l {
        width: 100%;
    }
    .uk-child-width-1-6\@l > * {
        width: 16.66389%;
    }
    .uk-child-width-1-3\@l > * {
        width: 33.32223%;
    }
    .uk-child-width-1-2\@l > * {
        width: 50%;
    }
}

@media (min-width: 640px) {
    .uk-text-right\@s {
        text-align: right !important;
    }
    .uk-modal {
        padding: 50px 30px;
    }
    .uk-width-1-1\@s {
        width: 100%;
    }
    .uk-child-width-1-6 > * {
        width: 16.66389%;
    }
    .uk-child-width-1-3\@s > * {
        width: 33.32223%;
    }
    .uk-child-width-1-2\@s > * {
        width: 50%;
    }
}
@media (min-width: 960px) {
    .uk-text-right\@m {
        text-align: right !important;
    }
    .uk-modal {
        padding-left: 40px;
        padding-right: 40px;
    }
    .uk-width-1-1\@m {
        width: 100%;
    }
    .uk-child-width-1-6\@m > * {
        width: 16.66389%;
    }
    .uk-child-width-1-3\@m > * {
        width: 33.32223%;
    } 
    .uk-child-width-1-2\@m > * {
        width: 50%;
    }
}
@media (min-width: 1600px) {
    .uk-text-right\@xl {
        text-align: right !important;
    }
    .uk-width-1-1\@xl {
        width: 100%;
    }
    .uk-child-width-1-6\@xl > * {
        width: 16.66389%;
    }
    .uk-child-width-1-3\@xl > * {
        width: 33.32223%;
    }
    .uk-child-width-1-2\@xl > * {
        width: 50%;
    }
}
